<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Top IT Service</h2>
                <hr class="light">
                <p class="text-faded">Top IT service Limited. Established in 2015, our company has delivered various IT hardware equipment and ICT operation and maintenance services to more than 50,000 headquarters and branches globally and has successfully implemented more than 1,000 large-scale projects.<br><br>
                We provide global customers with enterprise-level IT products including network equipment, server and storage from various brands, such as Cisco, Aruba, HPE, Huawei, Ubiquiti, Fortinet, Ruckus, Polycom, etc. We guarantee products with high quality and competitive prices. <br><br>
                We are confident that we will become your preferred partner, which in return will save your administration time, reducing substantial cost, improving quality and efficiency.<br><br>
                Coming together is a beginning, staying together is progress, and working together is success!</p>
                <a href="mailto:" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
